.nav {
    height: 10vh;
    background-color: rgb(34, 34, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.nav-link {
    color: white;
    padding: 10px;
}
.nav-link:hover {
    color: rgb(211, 16, 16);
}
